# Android Studio / IntelliJ IDEA
*.iml
.gradle
/.idea
.DS_Store

# Local configuration
local.properties

# Build outputs
/build
**/build/
/captures
.externalNativeBuild
.cxx

# Kotlin
.kotlin/

# Testing & Code Coverage
**/build/intermediates/ktLint/
**/build/kover/
**/build/reports/kover/

# macOS
.DS_Store

# Android Profiler
*.hprof

# Kotlin Scratch files
**/.scratch/

# Work-in-progress planning documents
_WIP-plans/
