name: Android Verification
run-name: Running Android Verifications

on:
  pull_request:
    branches: [ "master", "develop" ]
    paths-ignore:
      - '**.md'
      - '**.png'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  ktlint-check:
    name: Ktlint Check
    uses: ./.github/workflows/reusable-ktlint-check.yml

  verify-module-dependencies:
    name: Verify Module Dependencies
    uses: ./.github/workflows/reusable-verify-module-dependencies-pr.yml

  unit-tests:
    name: Run Unit Tests
    uses: ./.github/workflows/reusable-unit-tests.yml
