name: Monthly Master Sanity Check
run-name: Running Monthly Master Sanity Check

on:
  schedule:
    - cron: '0 9 1 * *'
  workflow_dispatch:

jobs:
  verify-module-dependencies:
    name: Verify Module Dependencies
    uses: ./.github/workflows/reusable-module-dependencies-checker.yml
    permissions:
      issues: write
      contents: read

  verify-dependency-graph:
    name: Verify Dependency Graph
    uses: ./.github/workflows/reusable-dependency-graph-checker.yml
    permissions:
      issues: write
      contents: read

  check-deprecations:
    name: Check Deprecations
    uses: ./.github/workflows/reusable-deprecation-checker.yml
    permissions:
      issues: write
      contents: read

  check-dependency-updates:
    name: Check Dependency Updates
    uses: ./.github/workflows/reusable-dependency-updates-checker.yml
    permissions:
      issues: write
      contents: read
